@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway.ttf") format("truetype");
  }

  @font-face {
    font-family: "Capsule";
    src: url("/fonts/capsule.otf") format("opentype");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav {
    @apply font-display;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }

  body {
    @apply font-body text-base text-white;
  }

  a {
    @apply text-blue-500;
  }

  a:hover {
    @apply underline;
  }

  label {
    @apply font-bold pr-2;
  }

  label,
  select,
  input,
  textarea {
    @apply text-2xl max-w-full;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply h-6 w-6 mr-1 rounded-full my-auto cursor-pointer bg-gray-700;
  }
}

@layer components {
  .choice-wrapper {
    @apply inline-flex text-white align-middle items-center text-2xl transition-all  hover:bg-slate-500 p-2 rounded-md cursor-pointer font-normal;
  }
}
