@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway.ttf") format("truetype");
  }

  @font-face {
    font-family: "Capsule";
    src: url("/fonts/capsule.otf") format("opentype");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav {
    @apply font-display;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }

  body {
    @apply font-body text-base;
  }

  a {
    @apply text-blue-500;
  }

  a:hover {
    @apply underline;
  }
}
